:root {
    --black: #383838,
        --blue-gray: #697586,
        --gray: #8498AF,
        --lilac: #B0A6BD,
        --pink: #F5A3B7,
        --light-pink: #FEE2E3,
        --white: #FFFFFF,
        --off-white: #F9F9FC,
}