:root {
    --black: #383838,
        --blue-gray: #697586,
        --gray: #8498AF,
        --lilac: #B0A6BD,
        --pink: #F5A3B7,
        --light-pink: #FEE2E3,
        --white: #FFFFFF,
        --off-white: #F9F9FC,
}

body {
    font-family: "Poppins";
}

ul {
    list-style: none;
}

/* Navbar */

.navbar ul {
    gap: 30px
}

a.nav-link {
    color: #383838;
    transition: all 1s;
}

a.nav-link:hover {
    color: #f78da7;
}

.active {
    font-weight: bold;
    color: #f78da7 !important
}


/* Header */
.bg-first {
    background-image: url(/public/images/first-screen.png);
    height: 708px;
    background-size: cover;
    background-position: center;
}

.btn-custom {
    background-color: #F5A3B7;
    color: white;
    transition: all 1s;
    font-weight: bold;

}

.btn-custom:hover {
    background-color: #383838;
    color: white;

}

h1 {
    font-weight: bold;
    font-size: 36px;
    color: #383838;
    text-transform: uppercase;
    line-height: 53px;
}


/* Set Section */
.set p {
    color: #697586;
    font-family: "Montserrat";
}

.tag {
    display: inline-block;
    background-color: #f3f3f3;
    color: #555;
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 14px;
    margin-right: 6px;
    transition: all 1s;
    cursor: pointer;
}

.tag:hover {
    background-color: #f78da7;
    color: white;
}

.explore {
    color: #555;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    transition: all 1s;
}

.explore:hover {
    color: #000;
}

/* Quiz */
.bg-quiz{
    background-color: #fcfbff;
    background-image: url(/public/images//photo-1540845692348-b9d2bc813a63\ 1.png);
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.quiz-section {
    background-color: #fef7f8;
}

.quiz-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.quiz-section p {
    color: #697586;
    font-family: "Montserrat";
}

.quiz-image img {
    max-width: 300px;
    border-radius: 10px;
}

.quiz-text {
    max-width: 400px;
}

/* Gallery */
.gallery-title {
    font-weight: bold;
    font-size: 22px;
}

.highlight {
    color: #f78da7;
}

.gallery {
    display: flex;
    flex-wrap: wrap;

}

.gallery .col {
    position: relative;
    overflow: hidden;
}

.gallery img {
    width: 100%;
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

.gallery .buttons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: opacity 0.3s ease-in-out;
}

.gallery button {
    padding: 8px 12px;
    border: none;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: all 1s;
}

.gallery button:hover {
    background-color: #f78da7;
}

.gallery .col:hover img {
    filter: blur(5px);
}

.gallery .col:hover .buttons {
    opacity: 1;
}

.btn-follow {
    background-color: #f8a8b6;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: bold;
    margin-top: 20px;
}

/* Footer */
.footer {
    background-color: #2d2d2d;
    color: white;
    padding: 40px 0;
}

.footer p {
    font-family: "Montserrat";
    color: white;
}

.footer a {
    color: #b8b8b8;
    text-decoration: none;
    display: block;
    margin-bottom: 5px;
}

.footer a:hover {
    color: #f8a8b6;
}

.footer .social-icons a {
    font-size: 20px;
    margin-right: 15px;
    color: white;
}

.footer .social-icons a:hover {
    color: #f8a8b6;
}

.footer .subscribe input {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
}

.footer .subscribe button {
    background: none;
    border: none;
    color: #f8a8b6;
    font-weight: bold;
}

.footer .bottom-bar {
    border-top: 1px solid #444;
    margin-top: 20px;
    padding-top: 10px;
    text-align: center;
    font-size: 14px;
    color: #b8b8b8;
}

.link-pink {
    color: #F5A3B7
}


/* Carousel */

.carousel-inner {
    padding: 20px 0;
}

.card {
    border: none;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 15px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-img-top {
    border-radius: 10px;

    object-fit: cover;
}

.card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-title {
    font-weight: bold;
    font-size: 1rem;
}

.card-text {
    color: #697586;
    font-family: "Montserrat";
    font-size: 0.9rem;
    font-weight: normal;
}

.price {
    font-weight: bold;
    margin: 10px 0;
}

.btn-add {
    background: none;
    border: 1px solid black;
    border-radius: 5px;
    padding: 8px 10px;
    width: 100%;
    font-weight: bold;
    margin-top: auto;
}

.btn-add:hover {
    background-color: black;
    color: white;
}

.discount-badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #ff7b7b;
    color: white;
    padding: 5px 8px;
    font-size: 12px;
    border-radius: 5px;
}

.top-badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #B0A6BD;
    color: white;
    padding: 5px 8px;
    font-size: 12px;
    border-radius: 5px;
}

.stars {
    color: #ffd700;
    font-weight: normal;
}

.see-all {
    text-decoration: none;
    color: #697586;
    transition: all 1s;
}

.see-all:hover {
    text-decoration: underline;
    color: #f8a8b6;
}

@media screen and (max-width: 992px) {

    .card-text {
        font-size: 12px
    }

    .btn-add {
        font-size: 10px
    }
}


/* Filter System page shop */
.filter-section {
    max-width: 250px;
}

.product-card {
    transition: all 0.3s ease;
}

.hidden {
    display: none;
}

.filter-section h4,
.filter-section h5 {
    font-weight: bold;
}

aside.filter-section {
    width: 250px;
    background: #fff;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    font-family: Poppins, sans-serif;
}

.form-check {
    margin-bottom: 8px;
}

.form-check-input {
    accent-color: #000;
    cursor: pointer;
}

.form-check-label {
    font-size: 14px;
    color: #555;
    cursor: pointer;
}

button#apply-filters {
    width: 100%;
    background: #fff;
    color: #000;
    border: 1px solid #000;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

button#apply-filters:hover {
    background: #000;
    color: #fff;
}

.form-check-input:checked {
    background-color: #f78da7;
    border-color: #f78da7;
}

.form-check-input:focus {
    border-color: #f7bccb;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(252, 205, 217, 0.493);
}

/* Details */
.card a {
    text-decoration: none
}

.card h6 {
    color: #383838;
    transition: all 1s;
}

.card h6:hover {
    color: #f78da7;
    text-decoration: underline;
}

.accordion-button:not(.collapsed) {
    color: #383838;
    font-weight: bold;
    background-color: #f78da865;
    box-shadow: 0 0 8px #f78da7;
    border: 1px solid #f78da844;
}

.accordion-item {
    font-family: "Montserrat";
}


.product-img {
    width: 100%;
    border-radius: 10px;
}

.product-card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.btn-custom-details {
    background-color: #f8a1b0;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    width: 100%;
}

.btn-custom-details:hover {
    background-color: #f28597;
}


/* Review */
.review-card {
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
    margin-bottom: 20px;
}

.review-header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.review-header img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.review-header h6 {
    margin-bottom: 0;
    font-weight: bold;
}

.review-stars {
    color: #ffcc00;
}

.review-date {
    font-size: 0.9rem;
    color: gray;
}

.write-review-btn {
    display: block;
    margin: 0 auto 20px auto;
    width: 200px;
}

a.show-more {
    color: black;
    transition: all 1s;
}

a.show-more:hover {
    color: #f28597
}

/* Page Review Form */
.form-control:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color: #f7bccb;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(252, 205, 217, 0.493);
}


/* Register */
::placeholder {
    color: #697586;
    font-family: "Montserrat";
}

.form-label {
    color: #383838;
}

.back-to-log a{
    color:#383838;
    transition: all 1s;
}
.back-to-log a:hover{
    color:#f28597
}

.bg-register{
    background-image: url(/public/images/back-register.png);
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}